/* CSS Styles for the Django store */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c88c8c;
    color: #333;
  
}

body :hover {
    filter: drop-shadow(1px 1px 10px #ff7171);
}

header {
    background-color: #9f6b6b;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.intro, .content {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h2, .content h2 {
    color: #634343;
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo-container {
    display: flexbox;
    align-items: left;
    justify-content: left;
}

.logo {
    width: 100px; /* Sesuaikan ukuran logo */
    height: auto;
    margin-right: 0;

    
}

/* Gaya untuk teks kalimat yang dapat diklik */
a {
    color:#634343; /* Warna teks */
    padding: 10px 15px; /* Ruang di sekitar teks */
    text-decoration: none; /* Menghapus garis bawah */
    border-radius: 5px; /* Sudut membulat */
    transition: background-color 0.3s ease; /* Efek transisi */
}

.product-list {
    list-style-type: none; /* Menghapus bullet */
    padding: 0;
}

.product-list li {
    margin: 20px 0; /* Jarak antar produk */
    display: flex; /* Mengatur elemen menjadi flex */
    align-items: center; /* Menyejajarkan gambar dan teks */
}

.product-image {
    width: 100px; /* Lebar gambar */
    height: auto; /* Tinggi otomatis agar proporsional */
    margin-right: 15px; /* Jarak antara gambar dan teks */
}
